<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98195959186-sk9kq7s6502ncchpsc375mljrn4ovguj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98195959186-sk9kq7s6502ncchpsc375mljrn4ovguj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>98195959186-5a9mnhvcakju13d0c963h7olgrqlqkt1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDRmszKSVyMaS4janst6pg4pqdxtV0enVI</string>
	<key>GCM_SENDER_ID</key>
	<string>98195959186</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team895s.someday</string>
	<key>PROJECT_ID</key>
	<string>somedayprod-79ad0</string>
	<key>STORAGE_BUCKET</key>
	<string>somedayprod-79ad0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98195959186:ios:baaeb6a9ee9bbab356254b</string>
	<key>DATABASE_URL</key>
	<string>https://somedayprod-79ad0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>